.flashBack1{
  display: none;
}

.flashBack2{
  display: none;
}

.flashBack3{
  display: none;
}

.well{
  float: right;
  /* margin: 12px; */
  border: 2px solid green;
  /* padding: 4px; */
  background-color: orange;

  width: 120px;
  height: 80px;

}
p {
  text-align: center;
}

.cards1{
  width: 130px;
  height: 100px;
}
